.App {
  text-align: center;
  background-color: honeydew;
  width: auto;
  
}
.size
        {
        width:100px;
        }
.ui.main.container{
  margin-top: 2em;
  position: relative;
  
}

.extra{
  text-align: center;
}

.footer{
  
  width: 100%;

  position: static;
  
  height: 5.5rem;  
  margin-bottom: 10em;
  margin-top: 8rem;
  padding: 10rem;
  background-color: rgb(40, 42, 44);
  color: rgb(255, 255, 255);
}
.cardList{
padding-top: 12rem;

margin-bottom: 12em;


margin-right: 10em;
padding-right: 10em;
  
}
.card{

  float: left;
  display: flex;


}
.categoryBox{
animation: cubic-bezier(0.95, 0.05, 0.795, 0.035);
 



background: white;
  
}
.h1{
font-family: fantasy;}

.extra{
  padding-left: 13em;
  margin-bottom: 2em;
  font-family: monospace;
  font-weight: bold;
}