.App {
  text-align: center;
  background-color: honeydew;
  width: auto;
  
}
.size
        {
        width:100px;
        }
.ui.main.container{
  margin-top: 2em;
  position: relative;
  
}

.extra{
  text-align: center;
}
.bg {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:  80%  ;
  position: relative;
  
}
.footer{
  
  width: 100%;

  position: relative;
  
  height: 5.5rem;  
  margin-bottom: 10em;
  margin-top: 8rem;
  padding: 10rem;
  background-color: rgb(40, 42, 44);
  color: rgb(255, 255, 255);
}
.cardList{
padding-top: 12rem;

margin-bottom: 12em;


margin-right: 10em;
padding-right: 10em;
  
}
.card{

  float: left;
  display: flex;


}
.categoryBox{
animation: cubic-bezier(0.95, 0.05, 0.795, 0.035);
 



background: white;
  
}
.h1{
font-family: fantasy;}

.extra{
  padding-left: 13em;
  margin-bottom: 2em;
  font-family: monospace;
  font-weight: bold;
}
.navbar{

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: normal;
background-color: black;
}
.logoTxt{
font-size: 1.5em;
font-family:Verdana, Geneva, Tahoma, sans-serif;
text-overflow: ellipsis;
font-weight: bold;
font-variant: small-caps;


}