body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.size
        {
        width:1010px;
        }
        .footer{
          margin-top: 4rem;
          padding: 5rem;
          background-color: rgb(38, 48, 54);
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          color: aliceblue;
        }